*{
    padding: 0%;
    margin: 0%;
}

header,footer{
    height: auto;
    width: 100%;
    /* display: flex; */
    background-color: #000000;
    color: #a49a22;
}
.asideEsquerdo{
    text-align: center;
    /* background-color: rgba(0, 0, 255, 0.455); */
}
nav ul{
    text-align: right;
    justify-content: right;
}
h1{
    font-size: 50px;
    color: #a49a22;
    text-align: center;
}
header a{
    font-size: 20px;
    margin: 4px;
    text-decoration: none;
    color: #b8ae3c;
}
footer{
    text-align: center;
    font-size: 30px;
}































/* #logo{
    width: 40px;
    height: 40px;
    margin: 0px 30px;
    border-radius: 100px;
    overflow:hidden;
    float: left;
    background-size: 100%;
    background-image: url(../logo/logo2.png);
    background-repeat: no-repeat; 
}*/
/* nav ul{
    width: 100%;
    gap: 20px;

}
a, li{
    text-decoration: none;
    color: rgb(0, 0, 0);
    list-style-type: none;
    text-align:right;
} */




