main{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
#bannerDeInicio{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;   /*Presta atenção nesse cara*/
}
.banner img{
    width: 100%;
    padding: 40px;
}



#sectionItens{
    width: 100%;
     /* height: 300px; */
     /* Configuração padrão: topo, esquerda e em coluna */
     display:flex; /* muda a maneira de mostrar no navegador*/
     flex-direction:row;/*row - linha e column - coluna*/
     justify-content:space-between;
     align-items: center;/*muda a orientação vertical*/
     flex-wrap: wrap;/*evita distorções do elemento*/
    }
    
    .item{
     width: 200px;
     height: 300px;
     margin: 20px;
     padding: 20px;
     border-radius: 10px;
     font-family: 'Times New Roman', Times, serif;
     background-color: #55505059;
     border-color: #ffffff;
    }
    .itemImagem{
     width: 100%;
     height: 50%;
    }
    .itemImagem img{
     width: 150px;
      height: 150px;
        border-radius: 100px;
    }
    .itemDescricao h3{
        width: 100%;
        height: 50%;
        color: #ffffff;
    }
    p{
        margin: 10px 0px;
        color: #ffffff;
    }
    .itemValor{
        font-size: 14pt;
        color: #90A955;
    }
    #sectionItens{
        width: 100%;
        background-color: #000000;
        display: flex;
    
    }

    .card, .card img{
        border-radius: 0%;
        padding: 3rem;    
    }
    .card{
        border: var(--preto) 2px solid;
    }
    .card button{
        background-color: var(--rosa);
        color: var(--preto);
        border: none;
    }
    
    #bannerBeneficios{
        background-color: grey;
        display: flex;
    }
    aside h4{
        text-align: left;
    }
    
    #cardImagem{
        background-color:#c7c730;
        width:100%;
    }
    .cardx img{
         
    }
    .cardx{
        border: var(--preto) 2px;
    }
    
