

#cadastro{
    width:auto;
   height: auto;  /*VH - viewport height (a altura do visor/ a ocupação na tela) */
   display: flex; /*O display (ou flexbox) fica sempre no elemento pai*/
   justify-content:center; /*Para posicionar os conteúdos da tela*/
   align-items: center; /*posicionar os conteúdos da tela*/
   flex-wrap: wrap;
   gap: 40px;
   background-color: #E3D5CA;
}
main{
   width: 60%;
   height: auto;
   border-radius: 30px;
   display: flex;
   gap: 40px;
   align-items: center;
   justify-content: center;
   text-align: center;
   background-color: #8829296e;
}

#formulario{
   margin: 50%;
   display: flex;
   flex-direction: column;
   gap: 30px;
   color: rgb(241, 241, 241);
   font-size: 23px;
}
#formulario h1{
   color: rgb(255, 255, 255);
   font-size: 55px;
}
#formulario a{
   color: rgb(255, 255, 255);
}


input{
   width: 300px;
   height: 30px;
   border-radius: 8px;
   background-color: #ffffff;
   transition: 0.5s;
   border: none;
}
input:hover{
   color: #96626291;
   transition: 0.3s;
   background-color: #ffffff;
   
}

input:focus{
   width: 400px;
   height: 40px;
   transition: 0.5s;
   background-color: #ffffff;
}

::placeholder{
   color: #853d3dea;
   font-size: 15px;
}
button{
   width: 200px;
   height: 35px;
   margin: 20px;
   border-radius: 40px;
background-color: #853d3dce;
}
button:focus{
   width: 300px;
   height: 40px;
   transition: 0.2s;
}