:root{
    --preto: #202420;
    --vermelho: #ba2d2d;
    --laranja:#f2511b;
    --laranjaTransparente:#f2511b55;
    --orange:#f2861b;
    --amarelo:#c7c730;
    --branco:white;
}
header, footer{
    background-color: #eec9b7;
}
main{
    align-items: center;
    justify-content: center;
}
#bannerPrimeiroMetodo{
    background-size:cover;
    background-position: top;
    align-items: center;
}

#mensagemBanner{
    opacity: 0,5;
    padding:3rem;
    background-color: var(--laranjaTransparente);
    color: var(--branco);
}
#catalogoSection{
    background-color: #eec9b7;
    color: #8f8609;
}
#acess{
    height: 420px;
}

button{
    color: white;
    border: 1px solid #a1694d;
    border-radius: 100%;
    background-color:  #dba082;
}