:root{
    --preto: #202420;
    --vermelho: #ba2d2d;
    --laranja:#f2511b;
    --laranjaTransparente:#f2511b55;
    --orange:#f2861b;
    --amarelo:#c7c730;
    --branco:white;
}
main{
    align-items: center;
    justify-content: center;
}
#bannerPrimeiroMetodo{
    background-size:cover;
    background-position: top;
    align-items: center;
}

#mensagemBanner{
    opacity: 0,5;
    padding:3rem;
    background-color: var(--laranjaTransparente);
    color: var(--branco);
}
#catalogoSection{
    background-color: #eec9b7;
}